<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd" >


    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Hritik"/>
        <property name="gender" value="M"/>
        <property name="age" value="50"/>
    </bean>

    <!--<bean id="actor2" class="com.stackroute.domain.Actor">
        <property name="name" value="Priyanka"/>
        <property name="gender" value="F"/>
        <property name="age" value="30"/>
    </bean>-->
<!--
    <bean id="actor3" class="com.stackroute.domain.Actor">
        <constructor-arg type="java.lang.String" value="Varun"/>
        <constructor-arg type="java.lang.String" value="M"/>
        <constructor-arg type="int" value="25"/>
    </bean>-->
    <!--
    <bean name="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Hritik"/>
        <property name="gender" value="M"/>
        <property name="age" value="50"/>
    </bean>
-->
    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="byName">
        <property name="id" value="1"/>
        <property name="movieName" value="agneepath"/>
    </bean>

<!--
    <bean id="movie2" class="com.stackroute.domain.Movie" autowire="byType">
        <property name="id" value="2"/>
        <property name="movieName" value="bajiroa mastani"/>
    </bean>
-->

    <!--<bean id="movie3" class="com.stackroute.domain.Movie">
        <constructor-arg name="id" value="3"/>
        <constructor-arg name="movieName" value="judwa2"/>
        <constructor-arg name="actor" ref="actor3"/>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="id" value="101"/>
        <constructor-arg name="movieName" value="judwa"/>
        <constructor-arg name="actor" ref="actor3"/>
    </bean>

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie">
        <constructor-arg name="id" value="201"/>
        <constructor-arg name="movieName" value="abcd2"/>
        <constructor-arg name="actor" ref="actor3"/>
    </bean>-->

</beans>