<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd" >


    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Hritik"/>
        <property name="gender" value="M"/>
        <property name="age" value="50"/>
    </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="byName">
        <property name="id" value="1"/>
        <property name="movieName" value="agneepath"/>
    </bean>

    <bean id="applicationAware1" class="com.stackroute.awareInterface.ApplicationContextAwareDemo">

    </bean>

    <bean id="beanAware1" class="com.stackroute.awareInterface.BeanFactoryAwareDemo">

    </bean>

    <bean id="beanNameAware1" class="com.stackroute.awareInterface.BeanNameAwareDemo">

    </bean>

    <bean id="resourceLoader1" class="com.stackroute.awareInterface.ResourceLoaderAwareDemo">

    </bean>

    <bean id="lifecycle1" class="com.stackroute.demo.BeanLifeCycleDemo" init-method="customInit" destroy-method="customDestroy">

    </bean>

    <bean id="beanPostProcessor" class="com.stackroute.demo.BeanPostProcessorDemo">

    </bean>
</beans>